{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Главная
{% endblock %}
{% block content %}
<table cellpadding="40" cellspacing="0">
        <tr>
            <td colspan="2">
                <div class="a_">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a><b>«Чтобы быть хорошим преподавателем, нужно любить то, что</b></a>
                    <br>
                    <a><b>преподаешь, и любить тех, кому преподаешь»</b></a>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a><b>В.О. Ключевский</b></a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td_" width="30%">
                <img src="{% static 'main/img/basic/photo_1.jpg' %}" alt="Error">
            </td>
            <td>
                <a><b>Вас приветствует учитель английского языка</b></a>
                <br>
                <a>ЧОУ РО «НЕРПЦ(МП)» «Православная гимназия во имя</a>
                <br>
                <a>святых Кирилла и Мефодия г. Нижнего Новгорода»</a>
                <br>
                <a><b>Тарасова Светлана Вадимовна</b></a>
                <br>
                <br>
                <a>Я рада, что вы заглянули на мой сайт и искренне</a>
                <br>
                <a>надеюсь, что вы сможете найти здесь полезную для</a>
                <br>
                <a>себя информацию.</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a>Я очень люблю свою профессию, я очень люблю английский язык. Начала я свою педагогическую деятельность в 2009 году с учителя начальных классов, но через какое - то время решила переквалифицироваться на учителя английского языка. С уверенностью могу сказать, что ни разу об этом не пожалела. Сейчас преподаю в школе английский язык. Мне нравится работать с детьми, наблюдать, как они взрослеют и совершенствуются. И мне хочется верить, что в результате, мои ученики приобретут глубокие знания, умение разобраться в необычном, способность к принятию нестандартного решения.</a>
            </td>
        </tr>
        <tr>
            <td class="td_" width="30%">
                <img class="butterfly" src="{% static 'main/img/basic/photo_2.jpg' %}" alt="Error">
            </td>
            <td class="td__">
                <a><b>Образование:</b></a>
                <br>
                <a><b>ФГБОУ ВПО "НГПУ им. К. Минина" (Мининский</b></a>
                <br>
                <a><b>Университет)</b></a>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a><b>Факультет:</b> Педагогика и методика начального</a>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a>образования</a>
                <br>
                <a><b>Нижегородский государственный лингвистический</b></a>
                <br>
                <a><b>университет имени Н.А. Добролюбова</b></a>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a><b>Факультет:</b> Курс профессиональной переподготовки</a>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a>"Преподаватель иностранного языка" (996 часов)</a>
            </td>
        </tr>
    </table>
{% endblock %}
