{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Для родителей
{% endblock %}
{% block content %}
<table cellpadding="40" cellspacing="0">
    <tr>
        <td colspan="2">
            <a>
                <h2>Родителям</h2>
            </a>
            <div style="position:relative; left: 15%; max-width: 70%; text-align: center;">
                <a><b>Памятка для изучающих английский язык в начальной школе:</b></a>
                <br>
            </div>
        </td>
    </tr>
    <tr>
        <td width="30%">
            <img class="butterfly" src="{% static 'main/img/basic/img_9.png' %}" alt="Error">
        </td>
        <td width="70%">
            <a>В начальной школе при изучении английского языка детям не обойтись без помощи взрослых (учителей, родителей). Конечно, многие родители хотят помочь своим детям, но часто не знают как. Поэтому хотелось бы дать некоторые советы, которые могли бы помочь сделать изучение английского языка легким и увлекательным!</a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr>
        </td>
    </tr>
</table>
<table cellpadding="40" cellspacing="0">
    <tr>
        <td colspan="2">
            <div style="position:relative; left: 15%; max-width: 70%; text-align: center;">
                <a><b>Как с ребенком учить слова?</b></a>
                <br>
                <br>
                <a>Попробуйте использовать следующие приемы:</a>
            </div>
        </td>
    </tr>
    <tr>
        <td width="70%">
            <ul>
                <li><a>выпишите новые слова в тетрадь (словарик). Вычитывайте все слова. Прочитайте слово, закройте глаза, попытайтесь «представить» это слово или попробуйте его мысленно прописать;</a></li>
                <li><a>попросите ребенка научить английскому кого-нибудь из членов семьи; </a></li>
                <li><a>развесьте карточки или игрушки с изображениями и подписями (для вас прежде всего) в комнате ребенка;</a></li>
                <li><a>узнайте или придумайте собственные игры со словами, используйте интерактивное приложение к учебнику (Взять у учителя).</a></li>
                <br>
                <a>Вы увидите – рано или поздно все, даже самые трудные, слова запомнятся!</a>
            </ul>
        </td>
        <td width="30%">
            <img class="butterfly" src="{% static 'main/img/basic/gif_10.gif' %}" alt="Error">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr>
        </td>
    </tr>
</table>
<table cellpadding="40" cellspacing="0">
    <tr>
        <td colspan="2">
            <div style="position:relative; left: 15%; max-width: 70%; text-align: center;">
                <a><b>Как научить ребенка правильно произносить слова?</b></a>
                <br>
            </div>
        </td>
    </tr>
    <tr>
        <td width="30%">
            <img class="butterfly" src="{% static 'main/img/basic/img_11.png' %}" alt="Error">
        </td>
        <td width="70%">
            <a>У многих детей в начале обучения английскому языку могут возникать проблемы с произношением. Постановка правильного произношения – это долгий процесс, требующий большого количества упражнений на развитие у ребенка слуха, умения отличать звуки от родного языка, умения правильно эти звуки произносить. Слушая речь учителя на уроке и записи диалогов, историй, песен, рифмовок и повторяя за ними, ребенок постепенно овладевает правильным английским произношением. Для дополнительной тренировки родители могут использовать диск дома.</a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="position:relative; left: 15%; max-width: 70%; text-align: center;">
                <a><b>Должен ли ребенок переводить то, что услышал?</b></a>
                <br>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="position:relative; left: 10%; max-width: 80%; text-align: center;">
                <a>
                    <p align="justify">Пожалуйста, не заставляйте ваших детей переводить каждое слово! Если вы хотите убедиться, что он понимает предложение, фразу или стихотворение, попросите передать вас его общий смысл – О чем эта рифмовка? Про кого эта песенка? Что просит собачка? Ведь перевод – это непростое умение, которому нужно специально учиться. Обучение переводу начинается с 5 класса в общеобразовательных школах с английским языком в начальном звене! Поговорите с ребенком и выясните, чем вызвано его нежелание: ему неинтересно или трудно? Постарайтесь заинтересовать его с помощью компьютерных игр, обучающих программ или видео. Если у Вашего ребенка возникли трудности, посоветуйтесь с педагогом. Педагог подскажет Вам, как помочь ребенку запоминать новые слова, фразы и т. д.</p>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr>
        </td>
    </tr>
</table>
<table cellpadding="40" cellspacing="0">
    <tr>
        <td colspan="2">
            <div style="position:relative; left: 15%; max-width: 70%; text-align: center;">
                <a><b>Мне кажется, что ребенок не усваивает материал. Что делать?</b></a>
                <br>
            </div>
        </td>
    </tr>
    <tr>
        <td width="70%">
            <a>
                <p align="justify">Не будьте слишком требовательны, это ведь только начало! Если ребенок с удовольствием ходит на занятия, охотно рассказывает о том, чем занимается в классе, все не так уж плохо!</p>
                <p align="justify">Наша главная цель – развить и поддерживать интерес к языку. Совершенно нормально, если вначале ребенок отвечает на вопросы учителя лишь жестами или отдельными словами. В это время он незаметно (даже для самого себя!) «впитывает» язык, который слышит. Поэтому не торопите ребенка, дайте ему время освоиться с новым языком.</p>
            </a>
        </td>
        <td width="30%">
            <img class="butterfly" src="{% static 'main/img/basic/img_12.jpg' %}" alt="Error">
        </td>
    </tr>
</table>
<table cellpadding="40" cellspacing="0">
    <tr>
        <td width="30%">
            <img class="butterfly" src="{% static 'main/img/basic/img_13.png' %}" alt="Error">
        </td>
        <td width="70%">
            <a>
                <p align="justify">Очень часто родители задаются вопросом о том, зачем начинать изучать английский язык во втором классе, когда дети ещё и родной язык плохо знают. А ведь иностранный язык даётся не всем. Да, данный предмет включает и знание родного языка, и в достаточной мере развитое логическое мышление, и общее культурное и интеллектуальное развитие учащегося.</p>
                <p align="justify">Любой ребенок так или иначе заговорит на иностранном языке, главное желание. А у детей младшего школьного возраста желание общаться есть всегда, особенно если их заинтересовать!</p>
                <p align="justify">Если ребенку нравится — он будет заниматься, а если еще и интересно — то он быстро запомнит. Главное, чтобы обучение проходило в комфортной для ребенка среде.</p>
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2"><hr></td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="position:relative; left: 10%; max-width: 80%; text-align: center;">
                <a>
                    <p align="justify">В связи с тем, что усвоение иностранного языка является очень сложным процессом, учителя английского языка убедительно просят родителей относиться к процессу и результатам учебы с должным терпением, чтобы не отбить желания у детей изучать чужой для них язык общения. Единственное, что требуется от родителей, — это систематически контролировать выполнение домашних заданий и наличие учебников и тетрадей, т.е. следить за готовностью ребенка к урокам. Если родители не владеют английским языком на достаточном уровне, учителя просят не помогать в выполнении домашних заданий, а лишь проверять, чтобы они были выполнены.</p>
                </a>
            </div>
        </td>
    </tr>
</table>
{% endblock %}