{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Для учеников
{% endblock %}
{% block content %}
<table cellpadding="40" cellspacing="0">
    <tr>
        <td colspan="2">
            <a>
                <h2>Ученикам</h2>
            </a>
            <div class="a_">
                <a><b>Кто не знает иностранных языков, не знает ничего и о своём.</b></a>
                <br>
                <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a>Иоганн Вольфганг Гете </a>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <img width="60%" class="bigimg" src="{% static 'main/img/basic/photo_4.jpg' %}" alt="Error">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="position:relative; left: 20%; max-width: 60%; text-align: center;">
                <a><b>Как подготовить домашнее задание по английскому языку:</b></a>
                <br>
            </div>
            <ul>
                <li><a>Раздели домашнее задание на несколько «порций» и распредели их по дням; единоразовое выполнение домашнего задания неэффективно </a></li>
                <br>
                <li><a>Изучи сначала устный материал (прочитай текст, выпиши новые слова в словарь - не забудь их выучить), а затем, проанализировав все предложенные речевые образцы и лексические единицы, приступай к выполнению письменного упражнения</a></li>
                <br>
                <li><a>Определи, для развития каких навыков было составлено данное упражнение и обрати наибольшее внимание именно на этот вид деятельности (чтение, говорение, письмо).</a></li>
                <br>
                <li><a>Активно используй в процессе подготовки домашнего задания средства обучения, в частности, не забывай обращаться за разъяснениями к словарю и грамматическому справочнику, а лучше заглянуть в рабочую тетрадь, где наверняка есть запись, сделанная под диктовку учителя.</a></li>
                <br>
                <li><a>Не заучивай учебный материал механически, а пытайся осмыслить, почему в данном упражнении имеет место та или иная лексическая единица или грамматическая структура.</a></li>
            </ul>
            <hr>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="position:relative; left: 20%; max-width: 60%; text-align: center;">
                <a><b>При подготовке устного сообщения:</b></a>
                <br>
            </div>
        </td>
    </tr>
    <tr>
        <td width="30%">
            <img class="img_5" src="{% static 'main/img/basic/img_5.png' %}" alt="Error">
        </td>
        <td width="70%">
            <ul>
                <li><a>Отбери нужные речевые образцы, проведи в них необходимую лексическую замену или расширение;</a></li>
                <li><a>Составь план сообщения, запиши его;</a></li>
                <li><a>Определи, что хочешь и можешь сказать по теме на иностранном языке. Соотнеси замысел высказывания со своими возможностями, с тем, какими языковыми средствами располагаешь;</a></li>
            </ul>
        </td>
    </tr>
</table>
<table cellpadding="40" cellspacing="0">
    <tr>
        <td width="70%">
            <ul>
                <li><a>Вспомни нужные речевые образцы, слова, сочетания слов для передачи замысла сообщения;</a></li>
                <li><a>Обратись к тексту, упражнениям, в которых эта или близкая к ней тема отражена, чтобы использовать материал для сообщения;</a></li>
                <li><a>Устно проговори своё сообщение в соответствии с планом;</a></li>
            </ul>
        </td>
        <td width="30%">
            <img src="{% static 'main/img/basic/img_6.png' %}" alt="Error">
        </td>
    </tr>
    <tr>
        <td colspan="2"><hr></td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="position:relative; left: 20%; max-width: 60%; text-align: center;">
                <a><b>Как работать с новым лексическим материалом (новыми словами):</b></a>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li><a style="line-height: 2;">Проверь правильность написания: сравни написанное с тем, что написано в учебнике;</a></li>
                <li><a style="line-height: 2;">Проследи, как данное слово употреблено в предложении;</a></li>
                <li><a style="line-height: 2;">Попытайся составить насколько предложений с новыми словами;</a></li>
                <li><a style="line-height: 2;">Уточни перевод каждого слова, обратившись к англо-русскому словарю (есть в конце каждого учебника);</a></li>
                <li><a style="line-height: 2;">Прочитай внимательно все слова и объедини их в группы по типу ударного слога;</a></li>
                <li><a style="line-height: 2;">Раздели слова на подгруппы по ударной гласной;</a></li>
                <li><a style="line-height: 2;">Установи и постарайся запомнить различия между словами одной подгруппы;</a></li>
                <li><a style="line-height: 2;">Прочитай ещё раз, постарайся запомнить графический образ слова, т.е. его буквенный состав; </a></li>
                <li><a style="line-height: 2;">Напиши слово по памяти.</a></li>
                <hr>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="position:relative; left: 20%; max-width: 60%; text-align: center;">
                <a><b>При работе с текстом:</b></a>
                <br>
            </div>
        </td>
    </tr>
</table>
<table cellpadding="40" cellspacing="0">
    <tr>
        <td width="30%">
            <img class="butterfly" src="{% static 'main/img/basic/img_7.png' %}" alt="Error">
        </td>
        <td width="70%">
            <ul>
                <li><a>Прочти текст, стараясь понять общее содержание и вывести из контекста значение незнакомых слов;</a></li>
                <li><a>Обратись к словарю, чтобы найти значения незнакомых слов;</a></li>
                <li><a>Проработай новый лексический материал (смотри как работать с новым лексическим материалом);</a></li>
                <li><a>Прочти текст медленно вслух, обращая особое внимание на произношение новых слов и стараясь запомнить информацию;</a></li>
                <li><a>Выпиши из текста новые для тебя формы;</a></li>
                <li><a>Составь список ключевых слов из текста так, чтобы он отражал канву содержания. </a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr>
        </td>
    </tr>
</table>
<table cellpadding="40" cellspacing="0">
    <tr>
        <td colspan="2">
            <div style="position:relative; left: 20%; max-width: 60%; text-align: center;">
                <a><b>При работе с грамматическим материалом</b></a>
            </div>
            <ul>
                <li><a>Выпиши из упражнения все предложения, содержащие новую грамматическую структуру;</a></li>
                <li><a>Внимательно изучи способ трансформации утвердительного предложения в вопросительное и отрицательно;</a></li>
                <li><a>Проконтролируй с помощью словаря правильность произношения тобой данной структуры;</a></li>
                <li><a>Просмотри материал текущего урока по учебнику, найди предложения, в которых используется данная грамматическая структура;</a></li>
                <li><a>Проговори эти предложения, попробуй трансформировать их по интонации;</a></li>
                <li><a>Придумай несколько предложений, содержащих новую грамматическую структуру.</a></li>
            </ul>
        </td>
    </tr>
</table>
{% endblock %}